{% block content %}
{% include 'header.html' %}
<div class="container py-5">
    <div class="row justify-content-center py-5 my-5 mx-2">
        <div class="col-md-8 col-lg-4 col-12">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body" id="formContainer">
                    <h5 class="card-title text-center mb-4">Change Password</h5>
                    {% if message %}
                    <p class="text-danger text-center">{{ message }}</p>
                    <script>
                        // Redirect to a different route after 3 seconds
                        setTimeout(function() {
                        if("{{message}}" == "Password changed successfully"){
                            window.location.href = "{{ url_for('login') }}"; }
                             // Replace 'login' with your desired route
                        else{
                        window.location.href = "{{ url_for("forgotPassword") }}"}
                        }, 3000); // 3000 milliseconds = 3 seconds
                    </script>
                    {% endif %}
                    <form id="passwordForm" action="/forgotpassword" method="post" onsubmit="showSpinner()">
                        <div class="form-floating mb-3">
                            <input type="email" name="email" class="form-control" id="floatingInput"
                                   placeholder="name@example.com" required/>
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" name="newpassword" class="form-control" id="floatingnewPassword"
                                   placeholder="Password" required/>
                            <label for="floatingPassword">New Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" name="confirmpassword" class="form-control" id="floatingConfirmPassword"
                                   placeholder="Password" required/>
                            <label for="floatingPassword">Confirm New Password</label>
                        </div>

                        <button type="submit" id="submitButton" class="btn btn-primary btn-block col-12">Update</button>
                        <div id="spinner" style="display: none;">
                            <div class="spinner-border spinner-border-sm" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <span>Processing...</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showSpinner() {
        // Hide the form container
        document.getElementById('formContainer').style.display = 'none';
        // Show the spinner
        document.getElementById('spinner').style.display = 'block';
        // Delay redirect by 4 seconds (4000 milliseconds)
        setTimeout(redirectAfterSubmit, 4000);
        // Prevent the default form submission behavior
        return true;
    }

    function redirectAfterSubmit() {
        // Redirect to the login route after 4 seconds
                        if("{{message}}" == "Password changed successfully"){
                            window.location.href = "{{ url_for('login') }}"; }
                             // Replace 'login' with your desired route
                        else{
                        window.location.href = "{{ url_for("forgotPassword") }}"}
    }
</script>


{% include 'footer.html' %}
{% endblock %}
